.button {
    background-color: rgb(74, 240, 243);
    color: black;
    font-size: 16px;
    border: 1px solid #61DBFB;
    border-radius: 20px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
        background-color: #61DBFB;
        color: rgb(17, 16, 16);
    }

    &-container {
        margin-top: 1rem;
        display: flex;
        gap: .5rem;
        justify-content: flex-end;
    }
}